In [1]:
import numpy as np
import pandas as pd

In [3]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", 
          "gala apple", "honeycrisp apple", "tomato", 
          "watermelon", "honeydew", "kiwi", "kiwi", 
          "kiwi", "mango", "blueberry", "blackberry", 
          "gooseberry", "papaya"]

In [4]:
fruits_series = pd.Series(fruits)
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [6]:
# 1 COUNT elements
fruits_series.count()

17

In [7]:
# 2 output the index
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [9]:
# 3 output the values
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [10]:
# 4 confirm dtype of values
fruits_series.values.dtype

dtype('O')

In [13]:
# 5 out 1st 5 values-last 3-2 rndm val
print(fruits_series.head())
print(fruits_series.tail(3))
print(fruits_series.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
14    blackberry
15    gooseberry
16        papaya
dtype: object
8      honeydew
2    strawberry
dtype: object

In [14]:
# 6 run .describe()
fruits_series.describe

<bound method NDFrame.describe of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [ ]:
# 7 produce unique strings

In [15]:
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [32]:
# 8 count each unique string
fruits_tally = fruits_series.value_counts()
fruits_tally

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [17]:
# 9 max value count
fruits_series.value_counts().head(1)

kiwi    4
dtype: int64

In [33]:
# 10 min value_count
# fruits_series.value_counts().tail(10)
fruits_tally.nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

## P A R T 2

In [38]:
# 1 Capitalize all strings in fruits
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [91]:
# 2 Count all 'a' in all string values

fruits_series.apply(lambda x: x.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [44]:
fruits_series.apply(lambda x: x.count('a')).sum()

14

In [57]:
# 3 Number of vowels in all strings
a = fruits_series.apply(lambda x: x.count('a')).sum()
e = fruits_series.apply(lambda x: x.count('e')).sum()
i = fruits_series.apply(lambda x: x.count('i')).sum()
o = fruits_series.apply(lambda x: x.count('o')).sum()
u = fruits_series.apply(lambda x: x.count('u')).sum()

vowels =[a,e,i,o,u]
vowel_series = pd.Series(vowels)
vowel_series.sum()

49

In [89]:
vowel_series

0    14
1    15
2    10
3     9
4     1
dtype: int64

In [69]:
fruits_series.apply(string_length).max()

16

In [70]:
# 4 longest string value from fruits
def string_length(stg):
    return len(stg)
mask_str_length = fruits_series.apply(string_length) == fruits_series.apply(string_length).max()
mask_str_length

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [71]:
fruits_series[mask_str_length]

5    honeycrisp apple
dtype: object

In [72]:
# 5 get string values with 5 or more letters in name

mask_str_grtr_thn5 = fruits_series.apply(string_length) > 5
mask_str_grtr_thn5

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16     True
dtype: bool

In [73]:
fruits_series[mask_str_grtr_thn5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [74]:
# 6 fruits that contain "o" 2 or more times
mask_at_least_2o = fruits_series.apply(lambda x: x.count('o')) >= 2
mask_at_least_2o

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
dtype: bool

In [75]:
fruits_series[mask_at_least_2o]

6         tomato
15    gooseberry
dtype: object

In [82]:
# 7 strings with 'berry'
mask_berry = fruits_series.apply(lambda x: x.count('berry')) >= 1
mask_berry

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

In [84]:
fruits_series[mask_berry]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [83]:
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [85]:
# 8 strings with 'apple'
mask_apple = fruits_series.apply(lambda x: x.count('apple')) >= 1
mask_apple

0     False
1     False
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [86]:
fruits_series[mask_apple]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [102]:
# 9 string value that contains the most vowels
def vowel_ct(x):
    v_c = 0
    for i in x:
        if i in 'aeiou':
            v_c += 1
    return v_c

In [106]:
mask_most_vowels = fruits_series.apply(vowel_ct) == fruits_series.apply(vowel_ct).max()
mask_most_vowels

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [107]:
fruits_series[mask_most_vowels]

5    honeycrisp apple
dtype: object